header h1 {
    text-align: center;
  }
  
  .container {
    margin: auto;
    width: 500px;
    height: 500px;
  }
  
  .grid {
    height: 100%;
    width: 100%;
  }
  
  .grid:hover {
    color: blue;
  }
  
  .button {
    text-align: center;
    margin-bottom: 50px;
}